/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

 body {
    font-family: Verdana,Geneva,sans-serif;
 }

 /* HOME PAGE, FOOTER, NAV, LEFT COLUMN (CATEGORY TREE) */

 #wrapper {
    background-color: transparent;
    padding-top: 1em;
 }

 #header { background: #58ccc8; }

 .footer-container > .container {
    border-top: 3px solid #58ccc8;
 }

 #custom-text > p > span {
    text-align: start;
    font-size: 1.5em;
    border-top: 3px solid #58ccc8;
    border-bottom: 1px solid #d8d8d8;
    padding: 0.3em 0.75em;
 }

 #custom-text > .inner-box {
    line-height: 18px;
    font-size: 100%;
 }

 #custom-text {
    padding-left: 0;
    padding-right: 0;
 }

.block-categories .category-sub-menu li[data-depth="0"] > a {
    font-size: 16px;
    font-weight: 100;
    padding-left: 1.5em;
    width: inherit;
 }

 .category-sub-menu > li > a:hover {
    background-color: #58ccc8;
    color: white;
 }

 .category-sub-menu {
    margin-top: 0 !important;
    width: inherit;
 }

 .navbar-toggler {
    display: none;
 }

 .category-top-menu > li {
    padding: 0.3em;
    border-bottom: 2px solid #d8d8d8;
 }

 .block-categories .text-uppercase.h6 {
    text-transform: none !important;
    font-size: 1.5em;
 }

 .col-md-6.links {
    width: 100%;
 }

 .col-md-6.wrapper {
    width: 25%;
    padding-top: 35px;
 }

 .col-md-6.wrapper .h3.hidden-sm-down {
    text-transform: none;
 }

 .footer-container li a:hover {
    color: #58ccc8;
 }

  .footer-container li a {
    color: black;
  }

.category-top-menu {
    border-top: 3px solid #58ccc8;
    width: auto;
}

#_desktop_logo {
    width: 100%;
}

#header {
    box-shadow: 0 0 0 0;
}

#header > .header-top > .container {
    padding: 0 0 0 0;
}

#_desktop_user_info {
    padding-top: 20px;
    padding-bottom: 20px;
}

#_desktop_user_info span {
    color: white;
}

#header .header-nav .user-info {
    margin: 0 0 0 0;
}

#header .header-nav .user-info a {
    padding: 20px 20px 20px 20px;
}

#header .header-nav {
    max-height:fit-content;
}

#_desktop_cart {
    width: 250px;
    background-color: #58ccc8;
    line-height: 40px;
    margin-left: 10px;
    padding-left: 1em;
    height: 44px;
}

#_desktop_cart a {
    color: white;
    align-self: center;
    font-size: 1em;
}

#_desktop_cart a:hover {
    color: white;
}

#_desktop_top_menu a {
    color: black;
    font-weight: normal;
    height: 100%;
}

#_desktop_top_menu a:hover {
    color:white;
    background-color: #58ccc8;
}

#_desktop_top_menu ul {
    height: 48px;
}

#_desktop_top_menu li {
    display: block;
    float:left;
    height: 100%;
}

#_desktop_top_menu .home-button {
    background-color: #58ccc8;
    height: 100%;
    width: 50px;
    text-align: center;
}

#_desktop_top_menu {
    margin-left: 22%;
    height: fit-content;
}

#search_widget form input {
    height: 44px;
    border-radius: 0;
}

.header-top-right div {
    float: none !important;
    flex: 1;
    align-self: flex-start;
}

.header-top-right {
    align-self: flex-start;
    display: inline-flex;
}

#left-column {
    padding-left: 0;
    padding-right: 0;
}

#index #main {
    border-top: none;
}



/* PRODUCT PAGE */

section #main{
    border-top: 3px solid #58ccc8;
    margin-top:25px;
}

.product-container{
    margin-top: 25px;
}

.custom_product_title {
    margin-top: 20px;
    padding-bottom:20px;
    border-bottom: 2px solid #d8d8d8;
}

.custom_description_title {
    padding-bottom:20px;
    padding-top:20px;
    border-bottom: 2px solid #d8d8d8;
    border-top: 3px solid #58ccc8;
}

.page-footer{

    margin-left:25%;
}

.product-container span, .product-container p{
    font-size: 18px;

}

.current-price-value
{
    font-size: 33px;
    color: #fa5843;
}